*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(54, 42, 68);
    height: auto;
}



ul a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}